

// marcel work hard here !!!


// Specific CSS for your home-page
body {
  // background-color: #85E6C5;
  background-color:whitesmoke;
}


.btn-ghost {

  color: rgb(103, 237, 114);
  border: 1.8px solid rgb(103, 237, 114);

  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // width: 200px;
  margin-left: 0.5rem;
  

}


.btn-ghost:hover {
  opacity: 1;

  color:#03faf2;
  border: 1px solid;
  /* font-size: 30px; */

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

title {
  color: #85E6C5;
}

.card-category {
  display: grid;
  grid-gap: 5px;
  color: black;
  border-radius: 25px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid #4A4A4A;
  place-items: center;
  padding: 10px 10px;
  height: 550px;
  width: 100%;
  text-align: justify;


}




.banner {
  background-size: cover;
  background-position: center;
  padding: 2%;
  height: 100vh;
  // align-items: first baseline;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://res.cloudinary.com/dzltofqgu/image/upload/v1693418987/shutterstock-1565551219_tullz8.jpg');
}

.banner h1 {
  margin: 0;
  color: #03faf2;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}


.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.h1 {
  position: relative;
  top: 400px;
  right: 180px;
  font-size: 40px;
  color: #614BC3;


}



.arrows {
  width: 60px;
  height: 92px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 30px;

}

.arrows path {
  stroke: #03faf2;
  fill: transparent;
  stroke-width: 6px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(103, 237, 114);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(103, 237, 114);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


// quotation mark

.h6 {
  font-size: 100px;

}


mark {
  color:#85E6C5;
  background-color: #dde4da; /* A lighter blue background for highlighted text */
  padding: 12px 12px 12px;

  font-size: medium;
  font-weight: bold; /* Adding bold font for better emphasis */
  background-color: whitesmoke;
  // padding: 15px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #85E6C5;
  background: none;
  flex-direction: column;

}




// blockquote {
//   font-family: Georgia, serif;
//   font-size: 18px;
//   font-style: italic;
//   width: 500px;
//   margin: 0.25em 0;
//   padding: 0.35em 40px;
//   line-height: 1.45;
//   position: relative;
//   color: #383838;
// }

// blockquote:before {
//   display: block;
//   padding-left: 10px;
//   content: "\201C";
//   font-size: 80px;
//   position: absolute;
//   left: -20px;
//   top: -20px;
//   color: #7a7a7a;
// }

// blockquote cite {
//   color: #999999;
//   font-size: 14px;
//   display: block;
//   margin-top: 5px;
// }

// blockquote cite:before {
//   content: "\2014 \2009";
// }
