
<%# marcel work hard here !!! %>



<%# <div class="d-flex justify-content-end">
  <a class="btn btn-ghost" href="#">Log in</a> %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg);">
  <div class="d-flex justify-content-end">
    <a class="btn btn-ghost" href="#">Log in</a>
    <%# <div class="container">
    <h1>xxxxxxx <strong>xxxxxx</strong> to <strong>creative people</strong>!</h1> %>
  </div>
</div>

<%# <img src="https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg" alt="banner"> %>

<div class="d-flex flex-column align-items-center">

  <%# <img src="<%= asset_path("logo.jpg")%>" alt="" width=150px height=150px> %>
  <p></p>
  <h1>Cooking Mate</h1>
  <a class="btn btn-ghost" href="#">Join the Community</a>

</div>

<div class="d-flex flex-row align-items-center">

  <div class="card-category mx-3">
    Gonzalo Salles
    <p></p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.

  </div>



  <div class="card-category mx-3">
      Marcia Müller
      <p></p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="card-category mx-3">
      Maria
      <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

</div>
