
<%# marcel work hard here !!! %>



<div class="banner d-flex justify-content-end" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzltofqgu/image/upload/v1693418987/shutterstock-1565551219_tullz8.jpg);">
    <a class="btn btn-ghost" href="#">Log in</a>

</div>

<%# <%= image_tag("logo.jpg") %> %>



<div class="d-flex flex-column align-items-center my-4">
  <h1>Cooking Mate</h1>
  <a class="btn btn-ghost mb-4" href="#">Join the Community</a>
</div>


  <div class="d-flex flex-row align-items-center mx-4">

    <div class="card-category mx-3">
      <strong><mark>Eva Mendes</mark></strong>
      <p></p>
      As soon as I downloaded the app and put a profile picture with
      my specialty in pasta and Italian food, I already received several
      invitations to a culinary meeting. That happened 1 year ago,
      until today we are still friends and we discovered that besides
      food we have many other professional and personal affinities.
      It was my best match!

    </div>

    <div class="card-category mx-3">
        <strong><mark>Ricky Martin</mark></strong>
        <p></p>
      My name is Martin, my new friends here on the app call me Ricky Martin the Big Boss,
      because I prepared for them one of my culinary specialties from Spain Paeja with baked seafood.
      That's why I got the name Chief. Thank you very much friends, it was a wonderful time!
    </div>

    <div class="card-category mx-3">
        <strong><mark>Emma Watson</mark></strong>
        <p></p>
        I have a hectic professional life, I'm always away from home so
        I do my homework outside. But after discovering this app, I can gather friends
        at my house and learn new special recipes from around the world.
        I want to thank here my friend Ana Müller who for the moments and meals together,
        thank you.
    </div>

    <div class="card-category mx-3">
      <strong><mark>Alejandro Salles</mark></strong>
      <p></p>
      I would like to thank this one because it was through him that I had wonderful
      moments with my friend Emma at that time. After a year on the app,
      Emma and I got married and learned several new dishes.
      Today in our house we are teaching our friends and neighbors how to cook.
    </div>

  </div>
</div>
