

<%# marcel work hard here !!! %>



<div class="banner d-flex justify-content-end" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg);">
    <a class="btn btn-ghost" href="#">Log in</a>
    <div class= "tagline d-flex justify-content-center">
      <h1>CookingMate</h1>
    </div>
</div>

<%# <img src="https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg" alt="banner"> %>

<div class="d-flex flex-column align-items-center my-4">
  <h1>Cooking Mate</h1>
  <a class="btn btn-ghost mb-4" href="#">Join the Community</a>
</div>


  <div class="d-flex flex-row align-items-center mx-4">

    <div class="card-category mx-3">
      <strong>Eva Mendes</strong>
      <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.

    </div>

    <div class="card-category mx-3">
        <strong>Rudi Müller</strong>
        <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="card-category mx-3">
        <strong>Fdddd </strong>
        <p></p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="card-category mx-3">
      <strong>Gonzalo Salles</strong>
      <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.

    </div>

  </div>
</div>

<% @recipes.each do |recipe| %>
  <h2><%= recipe.title %></h2>
  <% bookings = @prior_bookings.where(recipe: recipe, user: current_user) %>
  <% if bookings.count == 0 %>
    <%= render "booking", recipe: recipe, booking: @booking%>
  <% else %>
    <button><%= bookings.last.status %></button>
  <% end %>
<% end %>

