
<%# marcel work here %>



<div align-itens="left">
  <a class="btn btn-ghost" href="#">Log in</a>
</div>

<div align-itens="center">
  <img src="<%= asset_path("logo.jpg")%>" alt="" width=150px height=150px>
  <p></p>
  <h1>Cooking Mate</h1>

  <a class="btn btn-ghost" href="#">Join the Community</a>
</div>

