<div class="container chatroom"
  data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">


  <h1><%= @chatroom.booking.recipe.title %> conversation with <%= @chatroom.recipient_name(current_user) %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>

    <%= render "messages/message", message: message %>
     <% end %>

  </div>
</div>
