<div class="modal fade" id="description-<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel"><%= recipe.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= recipe.description %>
      </div>
    </div>
  </div>
</div>




<%# <div class="card-trip-infos ">
  <div class="card-trip-description"> %>
    <%# <p><strong><%= recipe.description</strong></p>  %>
  <%# </div>
</div> %>
