<div class="modal fade" id="user-<%= recipe.user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel"><%= recipe.user.nickname %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <img src="https://res.cloudinary.com/dzltofqgu/image/upload/c_thumb,w_200,g_face/v1693573270/production/Marcia.jpg" class="img-circle">
        <div class="bio">
          <h5>Marcia Sweet <br>26 years old</h5>
          <p>Member since: 2023</p>
          <p>Cooking level: beginner</p>
          <p>Diet: flexitarian</p>
          <p>Availability:  Weekends</p>
          <p>Status: Single, looking for new friends</p>
          <p>Member since: 2023</p>
          <p>Cooking level: beginner</p>
          <p>Diet: flexitarian</p>
          <p>Availability: Weekends</p>
        </div>
        <div class="profile-container">
  <div class="pic-bio">
    <div class="profile-image">
    <img src="https://res.cloudinary.com/dzltofqgu/image/upload/c_thumb,w_200,g_face/v1693286262/samples/woman-on-a-football-field.jpg">
      <h6>Marcia Sweet <br>26 years old</h6>
    </div>

  <div class="profile-description">
      <h2>Bio</h2>
      <%# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur obcaecati itaque sit provident animi, molestias quibusdam! Quasi a porro sapiente illo! Velit consectetur recusandae nam voluptates accusamus. Ex, corporis ipsum.</p> %>
      <p>I'm a cullinary enthusiast, who loves to meet new people from different background<br>I would like to learn how to cook new recipes and the idea of having someone cooking with me is really exicting.</p>
    </div>
  </div>

<%# Why does the mark tag have a class of #614BC3, this has not reference in your CSS please let me know @james %>

  <div class="profile-details">
    <h2><mark class="#614BC3">Member since: </mark> 2023</h2>
    <h2><mark class="#614BC3">Cooking level: </mark> beginner</h2>
    <h2><mark class="#614BC3">Diet: </mark> flexitarian</h2>
    <h2><mark class="#614BC3">Availability: </mark> Weekends</h2>
    <h2><mark class="#614BC3">Status: </mark>Single, looking for new friends</h2>
    <h3><mark class="#614BC3">Member since:</mark> 2023</h3>
    <h3><mark class="#614BC3">Cooking level:</mark> beginner</h3>
    <h3><mark class="#614BC3">Diet:</mark> flexitarian</h3>
    <h3><mark class="#614BC3">Availability:</mark> Weekends</h3>
    <h3><mark class="#614BC3">Status: </mark>Single, looking for new friends</h3>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
