<div class="modal fade" id="user-<%= recipe.user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel"><%= recipe.user.nickname %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <img src="https://res.cloudinary.com/dzltofqgu/image/upload/c_thumb,w_200,g_face/v1693573270/production/Marcia.jpg" class="img-circle">
        <div class="bio">
          <h5>Marcia Sweet <br>26 years old</h5>
          <p>Member since: 2023</p>
          <p>Cooking level: beginner</p>
          <p>Diet: flexitarian</p>
          <p>Availability:  Weekends</p>
          <p>Status: Single, looking for new friends</p>
          <p>Member since: 2023</p>
          <p>Cooking level: beginner</p>
          <p>Diet: flexitarian</p>
          <p>Availability: Weekends</p>
        </div>
      </div>
    </div>
  </div>
</div>
