
<div class="container">
<h1>Mate: Daniela</h1>
<link https://res.cloudinary.com/dzltofqgu/image/upload/v1693383964/AdobeStock_91825905_wkrlom.jpg>
<h2>Member since: 2023</h2>
<h2>Cooking level: beginner</h2>
<h2>Diet: flexitarian</h2>
<h2>Availability: weekends</h2>
<h2>Status: single looking for new friends</h2>

<div class="description">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur obcaecati itaque sit provident animi, molestias quibusdam! Quasi a porro sapiente illo! Velit consectetur recusandae nam voluptates accusamus. Ex, corporis ipsum.</p>
<%# <p>I'm a cullinary enthusiast, who loves to meet new people from different background<br>I would like to learn new recipes and the idea of having someone cooking with me is really exicting</p> %>
