
.card-title .trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.trip-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-avatar {
    position: absolute;
    right: 5px;
    top: -308px;
  }
  img {
    border-radius: 25px;
  }
}




.fa-solid {

  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  color: rgb(103, 237, 114);

}


.ti {
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  color: rgb(103, 237, 114);


}







// marcel

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 8px;
  // margin: auto;
  // margin-left: 20px !important;
  // margin-right: 20px !important;
  padding: 20px !important;
  grid-auto-rows: auto;
  border-radius: 4px;

}

#color {
  color:$beautifulgreen;
}

.card {
  background-color: #ffffff;
  border: 1px solid $beautifulgreen;
  border-radius: 8px;
  padding: 20px;
  // width: calc(73.33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  align-items: center;
  position: relative
}

.card-title{
  color:$beautifulgreen;
}

.card:hover {
  transform: translateY(-5px);
}


.card-title {
  margin-top: 0rem;
  font-size: 1rem;
  align-self: flex-start;
  // height: 25px;


}

.card-info-small {
  font-size: 12px;
  text-decoration: underline;

}

.accordion {
  background-color: #eee;
  color: $beautifulgreen;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  //background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 55px;

}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.booking-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.booking-card {
  background-color: #f5f5f5;
  border: 1px solid #cac1c1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.user-nickname {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.booking-status {
  font-size: 16px;
  color: #007bff;
  margin: 0;
}

.recipe-title {
  font-size: 16px;
  margin: 0;
}

.recipe-date {
  font-size: 16px;
  margin: 0;
}

.recipe-item {
  width: 60vw;

}


h4 {
  font-size: 10px;
  margin-top: 10px;
}

.card-header {

  color:#85E6C5;

  color:$beautifulgreen;
  width: 80vw;
}

.float-end {
  width: 40px;

}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 16px;
  height: 300px;
  border-radius: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 8px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  gap: 16px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 3px;
  top: -200px;
  width: 40px;
}

#small-btn {
  padding: 0px 9px;
  font-size: 14px;
}
