// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "./pages/user";


.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: -100px;
    // align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));


}

.modal {
  overflow-y: scroll;
  overflow-y: auto;
  background-color: rgba(17, 157, 164, 0.5);

}

.modal-body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  color:#119DA4;
  justify-content: center;

}

.modal-header {
  background-color: whitesmoke;


}

.modal-title {
  color: #25FF37;
  background-color: whitesmoke;
}
// .container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 50px;

// }

.quote {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}

.container {
  max-width: 960px;
}

a{
  text-decoration: none;
  color:#119DA4;
}

.cooking-bg{
  background-image: url("food.png");
  background-position: center;
  background-size: contain;
}
